
@{
    /**/

    Layout = null;
}


@*@model  IEnumerable<ReyDel.Models.Production_Entry>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="modal fade" id="AddProductionEntry" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Production Entry</h4>
            </div>
            <div class="modal-body">

                <form role="form">
                    <div class="form-group" hidden>
                        <input type="text" class="form-control" id="Entry_Id">
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Entry Date</label>
                                <input type="date" class="form-control" id="Entry_Date" placeholder="Entry Date">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Employe Name  </label>
                                @Html.DropDownList("EmployeeID", new SelectList((System.Collections.IEnumerable)ViewData["Employee"], "Value", "Text", 0), "Select Employee", new { @class = "form-control input-sm", @id = "EmployeeID", Title = "Source" })

                            </div>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>  Shift superviser</label>
                                @Html.DropDownList("ShiftSuperviserId", new SelectList((System.Collections.IEnumerable)ViewData["ShiftSuperviser"], "Value", "Text", 0), "Select Shift superviser", new { @class = "form-control input-sm", @id = "ShiftSuperviserId", Title = "Source" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Shift</label>
                                @Html.DropDownList("Shift_id", new SelectList((System.Collections.IEnumerable)ViewData["Shift"], "Value", "Text", 0), "Select Shift ", new { @class = "form-control input-sm", @id = "Shift_id", Title = "Source" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Machine</label>
                                <select name=" Machine" class="form-control" id="Machine_Id">
                                    <option>2</option>
                                    <option>2</option>
                                    <option>2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>  REI</label>
                                @Html.DropDownList("REI_Id", new SelectList((System.Collections.IEnumerable)ViewData["REI"], "Value", "Text", 0), "Select REI", new { @class = "form-control input-sm", @id = "REI_Id", Title = "Source" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Part</label>
                                <select name=" Part " class="form-control" id="Part_Id">
                                    <option>2</option>
                                    <option>2</option>
                                    <option>2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>  Plan Quntity</label>
                                <input type="text" class="form-control" id="Plan_Qty" placeholder="Plan Quntity">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Cumm Accepted Qty</label>
                                <input type="text" class="form-control" id="Cumm_Accepted_Qty" placeholder="Cumm Accepted Qty">
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label> Accepted Quntity</label>
                                <input type="text" class="form-control" id="Accepted_Quntity" placeholder="  Accepted Quntity">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>  Operator Emp</label>
                                @Html.DropDownList("OperatorEmp_id", new SelectList((System.Collections.IEnumerable)ViewData["OperatorEmp"], "Value", "Text", 0), "Select Shift ", new { @class = "form-control input-sm", @id = "OperatorEmp_id", Title = "Source" })
                            </div>
                        </div>
                       
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnAdd">Submit</button>
            </div>
        </div>

    </div>
</div>
<script>
    $('#btnAdd').on('click', function () {
      
        var Eid = $("#EmployeeID").val();
        var Rid = $("#REI_Id").val();
        var shiftsup = $("#ShiftSuperviserId").val();
        var shift = $("#Shift_id").val();
        var OperatorEmp = $("#OperatorEmp_id").val();
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/Home/AddProductionEntry',
            data:
            {

                Entry_Date: $("#Entry_Date").val(),
                Calendar_id: $("#Calendar_id").val(),
                Emp_id: Eid,
                Shift: shift,
                Machine: $("#Machine_Id").val(),
                REI: Rid,
                Part: $("#Part_Id").val(),
                Plan_Qty: $("#Plan_Qty").val(),
                Cumm_Accepted_Qty: $("#Cumm_Accepted_Qty").val(),
                Accepted_Qty: $("#Accepted_Quntity").val(),
                Operator_Emp: OperatorEmp,
                Shift_superviser: shiftsup,


            },
            success: function (data) {
                $("#AddProductionEntry").hide(),
                    // alert(data);
                    location.reload();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
        });
    });
</script>

