



@model  IEnumerable<ReyDel.Models.ChangeOverEntryList>
<style>
    .box-body {
        overflow: auto !important;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->
            <div class="box">
                <div class="box-header">

                    <h3 class="box-title"><b>Change Over Entry List </b></h3>
                    <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#AddChangeOver_Entry">Add New </button>

                    @Html.Partial("../Home/AddChangeOver_Entry")

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped" style="overflow:auto">
                        <thead>
                            <tr>
                             
                                <th> Entry Date</th>
                               
                                <th> Emp Id</th>
                                <th> ChangeOver Config Type</th>
                                <th> Change From REI ID</th>
                                <th> Change From Part Id</th>
                                <th> Change From Mat Grade Id</th>
                                <th>Change To REI ID</th>
                                <th> Change To Part Id</th>
                                <th> Change To Mat Grade Id</th>
                                <th> Standard Run Qty</th>
                                <th> Actual Run Qty</th>
                                <th> Increase in Scrap Percent</th>
                                <th> Increase in scrap Value</th>
                                <th>  ChangeOver Start</th>
                                <th>  ChangeOver End</th>
                                <th> Total ChangeOver</th>
                                <th> Std ChangeOver Time</th>
                                <th>  Difference</th>
                                <th> Loss In Precentage</th>
                                <th> Expected Lumps</th>
                                <th> Actual Lumps</th>
                                <th>  Difference Lumps</th>
                                <th> Scrap Percent Increase</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    
                                    <td>@item.EntryDate</td>
                                  
                                    <td>@item.Emp_Id</td>
                                    <td>@item.ChangeOver_Config_Type</td>
                                    <td>@item.Change_From_REI_ID</td>
                                    <td>@item.Change_From_Part_Id</td>
                                    <td>@item.Change_From_Mat_Grade_Id</td>
                                    <td>@item.Change_To_REI_ID</td>
                                    <td>@item.Change_To_Part_Id</td>
                                    <td>@item.Change_To_Mat_Grade_Id</td>
                                    <td>@item.StandardRunQty</td>
                                    <td>@item.Actual_RunQty</td>
                                    <td>@item.Increase_in_Scrap_Percent</td>
                                    <td>@item.Increase_in_scrap_Value</td>
                                    <td>@item.ChangeOver_Start</td>
                                    <td>@item.ChangeOver_End</td>
                                    <td>@item.TotalChangeOver</td>
                                    <td>@item.Std_ChangeOverTime</td>
                                    <td>@item.Difference</td>
                                    <td>@item.LossInPrecentage</td>
                                    <td>@item.Expected_Lumps</td>
                                    <td>@item.Actual_Lumps</td>
                                    <td>@item.Difference_Lumps</td>
                                    <td>@item.ScrapPercentIncrease</td>


                                    <td>
                                        <span class="EditChangeOver_Entry"
                                              UEntry_Id="@item.Entry_Id"
                                              UEntry_Date="@item.EntryDate"
                                              UCalendar_id="@item.Calendar_id"
                                              UEmp_Id="@item.Emp_Id"
                                              UChangeOver_Config_Type="@item.ChangeOver_Config_Type"
                                              UChange_From_REI_ID="@item.Change_From_REI_ID"
                                              UChange_From_Part_Id="@item.Change_To_Part_Id"
                                              UChange_From_Mat_Grade_Id="@item.Change_From_Mat_Grade_Id"
                                              UChange_To_REI_ID="@item.Change_To_REI_ID"
                                              UChange_To_Part_Id="@item.Change_To_Part_Id"
                                              UChange_To_Mat_Grade_Id="@item.Change_To_Mat_Grade_Id"
                                              UStandardRunQty="@item.StandardRunQty"
                                              UActual_RunQty="@item.Actual_RunQty"
                                              UIncrease_in_Scrap_Percent="@item.Increase_in_Scrap_Percent"
                                              UIncrease_in_scrap_Value="@item.Increase_in_scrap_Value"
                                              UChangeOver_Start="@item.ChangeOver_Start"
                                              UChangeOver_End="@item.ChangeOver_End"
                                              UTotalChangeOver="@item.TotalChangeOver"
                                              UStd_ChangeOverTime="@item.Std_ChangeOverTime"
                                              UDifference="@item.Difference"
                                              ULossInPrecentage="@item.LossInPrecentage"
                                              UExpected_Lumps="@item.Expected_Lumps"
                                              UActual_Lumps="@item.Actual_Lumps"
                                              UDifference_Lumps="@item.Difference_Lumps"
                                              UScrapPercentIncrease="@item.ScrapPercentIncrease"><i class="fa fa-edit"></i></span>
                                             
                                    </td>

                                </tr>

                            }

                        </tbody>

                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
<div id="UpdateChangeOverEntry" class="modal fade in" data-backdrop="static" data-keyboard="false" role="dialog" style=" line-height:0.9; overflow:auto " >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update ChangeOver Entry</h4>
            </div>
            <div class="modal-body">

                <form role="form">
                    <div class="form-group" hidden>
                        <input type="text" class="form-control" id="EEntry_Id">
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Entry Date</label>
                                <input type="date" class="form-control" id="EEntry_Date" placeholder="Entry Date">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Employe Name  </label>
                                @Html.DropDownList("EmployeeID", new SelectList((System.Collections.IEnumerable)ViewData["Employee"], "Value", "Text", 0), "Select Employee", new { @class = "form-control input-sm", @id = "EmployeeID", Title = "Source" })

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>Scrap Percent Increase</label>
                                <input type="text" class="form-control" id="EScrapPercentIncrease" placeholder="   Scrap Percent Increase">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> ChangeOver Config Type</label>
                                <input type="text" class="form-control" id="EChangeOver_Config_Type" placeholder="ChangeOver Config Type" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> From REI </label>
                                @Html.DropDownList("REI_Id", new SelectList((System.Collections.IEnumerable)ViewData["REI"], "Value", "Text", 0), "Select REI", new { @class = "form-control input-sm", @id = "FromREI_Id", Title = "Source" })
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>   From Part </label>
                                <input type="text" class="form-control" id="EChange_From_Part_Id" placeholder=" Change From Part Id">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>  From Material Grade</label>
                                @Html.DropDownList("Change_From_Mat_Grade_Id", new SelectList((System.Collections.IEnumerable)ViewData["MaterialGradeId"], "Value", "Text", 0), "Select ", new { @class = "form-control input-sm", @id = "Change_From_Mat_Grade_Id", Title = "Source" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>  To REI </label>
                                @Html.DropDownList("REI_Id", new SelectList((System.Collections.IEnumerable)ViewData["REI"], "Value", "Text", 0), "Select REI", new { @class = "form-control input-sm", @id = "ToREI_Id", Title = "Source" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Change To Part Id</label>
                                <input type="text" class="form-control" id="EChange_To_Part_Id" placeholder="Change To Part Id">
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>  To Material Grade </label>
                                @Html.DropDownList("Change_To_Mat_Grade_Id", new SelectList((System.Collections.IEnumerable)ViewData["MaterialGradeId"], "Value", "Text", 0), "Select ", new { @class = "form-control input-sm", @id = "Change_To_Mat_Grade_Id", Title = "Source" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>  Standard Run Qty</label>
                                <input type="text" class="form-control" id="EStandardRunQty" placeholder="   StandardRun Qty">
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label> Actual Run Qty</label>
                                <input type="text" class="form-control" id="EActual_RunQty" placeholder="   Actual_Run Qty">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Increase in Scrap Percent</label>
                                <input type="text" class="form-control" id="EIncrease_in_Scrap_Percent" placeholder="   Increase_in_Scrap_Percent">
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>Increase in scrap Value</label>
                                <input type="text" class="form-control" id="EIncrease_in_scrap_Value" placeholder="   Increase_in_scrap_Value">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> ChangeOver Start</label>
                                <input type="time" class="form-control" id="EChangeOver_Start" placeholder="   ChangeOver_Start">
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label> ChangeOver End</label>
                                <input type="time" class="form-control" id="EChangeOver_End" placeholder="  ChangeOver_End">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>  Total ChangeOver(Mins)</label>
                                <input type="text" class="form-control" id="ETotalChangeOver" placeholder="   TotalChangeOver(Mins)">
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label> Std ChangeOver Time</label>
                                <input type="text" class="form-control" id="EStd_ChangeOverTime" placeholder="   Std ChangeOver Time">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>  Difference</label>
                                <input type="text" class="form-control" id="EDifference" placeholder="   Difference">
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label> LossIn Precentage</label>
                                <input type="text" class="form-control" id="ELossInPrecentage" placeholder="   LossIn Precentage">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>  Expected Lumps(Kg)</label>
                                <input type="text" class="form-control" id="EExpected_Lumps" placeholder="   Expected Lumps(Kg)">
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>Actual Lumps(Kg)</label>
                                <input type="text" class="form-control" id="EActual_Lumps" placeholder="   Actual Lumps(Kg)">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>  Difference Lumps</label>
                                <input type="text" class="form-control" id="EDifference_Lumps" placeholder="   Difference_Lumps">
                            </div>
                        </div>
                       
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveChanges">Save Changes</button>
            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="~/dist/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="~/dist/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/dist/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="~/dist/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script>
    function refresh() {

        $('.EditChangeOver_Entry').on('click', function () {
            UEntry_Id = this.getAttribute("UEntry_Id");
            UEntry_Date = this.getAttribute("UEntry_Date");
            UCalendar_id = this.getAttribute("UCalendar_id");
            UEmp_Id = this.getAttribute("UEmp_Id");
            UChangeOver_Config_Type = this.getAttribute("UChangeOver_Config_Type");
            UChange_From_REI_ID = this.getAttribute("UChange_From_REI_ID");
            UChange_From_Part_Id = this.getAttribute("UChange_From_Part_Id");
            UChange_From_Mat_Grade_Id = this.getAttribute("UChange_From_Mat_Grade_Id");
            UChange_To_REI_ID = this.getAttribute("UChange_To_REI_ID");
            UChange_To_Part_Id = this.getAttribute("UChange_To_Part_Id");
            UChange_To_Mat_Grade_Id = this.getAttribute("UChange_To_Mat_Grade_Id");
            UStandardRunQty = this.getAttribute("UStandardRunQty");
            UActual_RunQty = this.getAttribute("UActual_RunQty");
            UIncrease_in_Scrap_Percent = this.getAttribute("UIncrease_in_Scrap_Percent");
            UIncrease_in_scrap_Value = this.getAttribute("UIncrease_in_scrap_Value");
            UChangeOver_Start = this.getAttribute("UChangeOver_Start");
            UChangeOver_End = this.getAttribute("UChangeOver_End");
            UTotalChangeOver = this.getAttribute("UTotalChangeOver");
            UStd_ChangeOverTime = this.getAttribute("UStd_ChangeOverTime");
            UDifference = this.getAttribute("UDifference");
            ULossInPrecentage = this.getAttribute("ULossInPrecentage");
            UExpected_Lumps = this.getAttribute("UExpected_Lumps");
            UActual_Lumps = this.getAttribute("UActual_Lumps");
            UDifference_Lumps = this.getAttribute("UDifference_Lumps");
            UScrapPercentIncrease = this.getAttribute("UScrapPercentIncrease");
                $("#EEntry_Id").val(UEntry_Id);                                                               
            //$("#EEntry_Date").val(UEntry_Date);
            $('#EEntry_Date option[value="' + UEntry_Date + '"]').attr("selected", "selected"); 
                $("#ECalendar_id").val(UCalendar_id);
            $('#EmployeeID option[value="' + UEmp_Id + '"]').attr("selected", "selected"); 

            $("#EChangeOver_Config_Type").val(UChangeOver_Config_Type);
            $('#FromREI_Id option[value="' + UChange_From_REI_ID + '"]').attr("selected", "selected"); 

            $("#EChange_From_Part_Id").val(UChange_From_Part_Id);
            $('#Change_From_Mat_Grade_Id option[value="' + UChange_From_Mat_Grade_Id + '"]').attr("selected", "selected"); 

            $('#ToREI_Id option[value="' + UChange_To_REI_ID + '"]').attr("selected", "selected"); 

                $("#EChange_To_Part_Id").val(UChange_To_Part_Id);
            $('#Change_To_Mat_Grade_Id option[value="' + UChange_To_Mat_Grade_Id + '"]').attr("selected", "selected"); 

                $("#EStandardRunQty").val(UStandardRunQty);
                $("#EActual_RunQty").val(UActual_RunQty);
                $("#EIncrease_in_Scrap_Percent").val(UIncrease_in_Scrap_Percent);
                $("#EIncrease_in_scrap_Value").val(UIncrease_in_scrap_Value);
                $("#EChangeOver_Start").val(UChangeOver_Start);
                $("#EChangeOver_End").val(UChangeOver_End);
                $("#ETotalChangeOver").val(UTotalChangeOver);
                $("#EStd_ChangeOverTime").val(UStd_ChangeOverTime);
                $("#EDifference").val(UDifference);
                $("#ELossInPrecentage").val(ULossInPrecentage);
                $("#EExpected_Lumps").val(UExpected_Lumps);
                $("#EActual_Lumps").val(UActual_Lumps);
                $("#EDifference_Lumps").val(UDifference_Lumps);
                $("#EScrapPercentIncrease").val(UScrapPercentIncrease);
                    $("#UpdateChangeOverEntry").show();
        });
    };

</script>
<script type="text/javascript">

    refresh();
    $('#example1').DataTable({
        'paging': true,
        'lengthChange': false,
        'searching': false,
        'ordering': true,
        'info': true,
        'autoWidth': false
    })
    $(document).ready(function () {
        $('.close').on('click', function () {
            $("#UpdateChangeOverEntry").hide();
        });
    $('#btnSaveChanges').on('click', function () {

        var UEntry_Id = $("#EEntry_Id").val();
        var UEntry_Date = $("#EEntry_Date").val();
        var UCalendar_id = $("#ECalendar_id").val();
        var UEmp_Id = $("#EmployeeID").val();
        var UChangeOver_Config_Type = $("#EChangeOver_Config_Type").val();
        var UChange_From_REI_ID = $("#FromREI_Id").val();
        var UChange_From_Part_Id = $("#EChange_From_Part_Id").val();
        var UChange_From_Mat_Grade_Id = $("#Change_From_Mat_Grade_Id").val();
        var UChange_To_REI_ID = $("#ToREI_Id").val();
        var UChange_To_Part_Id = $("#EChange_To_Part_Id").val();
        var UChange_To_Mat_Grade_Id = $("#Change_To_Mat_Grade_Id").val();
        var UStandardRunQty = $("#EStandardRunQty").val();
        var UActual_RunQty = $("#EActual_RunQty").val();
        var UIncrease_in_Scrap_Percen = $("#EIncrease_in_Scrap_Percent").val();
        var UIncrease_in_scrap_Value = $("#EIncrease_in_scrap_Value").val();
        var UChangeOver_Start = $("#EChangeOver_Start").val();
        var UChangeOver_End = $("#EChangeOver_End").val();
        var UTotalChangeOver = $("#ETotalChangeOver").val();
        var UStd_ChangeOverTime = $("#EStd_ChangeOverTime").val();
        var UDifference = $("#EDifference").val();
        var ULossInPrecentage = $("#ELossInPrecentage").val();
        var UExpected_Lumps = $("#EExpected_Lumps").val();
        var UActual_Lumps = $("#EActual_Lumps").val();
        var UDifference_Lumps = $("#EDifference_Lumps").val();
        var UScrapPercentIncrease = $("#EScrapPercentIncrease").val();
        

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/Home/UpdateChangeOver_Entry',
            data:
            {
                Entry_Id: UEntry_Id,
                Entry_Date: UEntry_Date,
                Calendar_id: UCalendar_id,
                Emp_Id: UEmp_Id,
                ChangeOver_Config_Type: UChangeOver_Config_Type,
                Change_From_REI_ID: UChange_From_REI_ID,
                Change_From_Part_Id: UChange_From_Part_Id,
                Change_From_Mat_Grade_Id: UChange_From_Mat_Grade_Id,
                Change_To_REI_ID: UChange_To_REI_ID,
                    Change_To_Part_Id: UChange_To_Part_Id,
                Change_To_Mat_Grade_Id: UChange_To_Mat_Grade_Id,
                    StandardRunQty: UStandardRunQty,
                Actual_RunQty: UActual_RunQty,
                Increase_in_Scrap_Percent: UIncrease_in_Scrap_Percen,
                Increase_in_scrap_Value: UIncrease_in_scrap_Value,
                ChangeOver_Start: UChangeOver_Start,
                ChangeOver_End: UChangeOver_End,
                TotalChangeOver: UTotalChangeOver,
                Std_ChangeOverTime: UStd_ChangeOverTime,
                Difference: UDifference,
                LossInPrecentage: ULossInPrecentage,
                    Expected_Lumps: UExpected_Lumps ,
                Actual_Lumps: UActual_Lumps,
                Difference_Lumps: UDifference_Lumps,
                ScrapPercentIncrease: UScrapPercentIncrease 
            },
            success: function (data) {
                $("#UpdateChangeOverEntry").hide();
                location.reload();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
        });
    });
    
    });


</script>